$color_1: var(--culoare-text);
$color_2: var(--culoare-scris-zone);
$color_3: #999;
$color_4: #007bff;
$color_5: var(--culoare-background-baza);
$color_6: var(--culoare-primara);
$color_7: var(--culoare-secundara);
$color_8: var(--culoare-highlight);
$color_9: var(--culoare-background-deschisa);
$color_10: white;
$color_11: rgb(255, 255, 255);
$color_12: black;
$color_13: inherit;
$color_14: var(--culoare-hover);
$color_15: var(--culoare-link-vizitat);
$color_16: var(--culoare-activ);
$color_17: #555;
$color_18: rgb(131, 131, 131);
$color_19: var(--culoare-primara, #0077b6);
$color_20: #ffffff;
$color_21: green;
$color_22: var(--culoare-light);
$color_23: blue;
$color_24: #444;
$color_25: #d32f2f;
$font-family_1: "Tektur", sans-serif;
$font-family_2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family_3: Arial, sans-serif;
$background-color_1: var(--culoare-primara);
$background-color_2: var(--culoare-background-deschisa);
$background-color_3: var(--culoare-background-baza);
$background-color_4: #f4f4f4;
$background-color_5: #eaeaea;
$background-color_6: #ff6f61;
$background-color_7: #ff4a3f;
$background-color_8: #f8f8f8;
$background-color_9: #f0f0f0;
$background-color_10: var(--culoare-background-inchisa);
$background-color_11: var(--culoare-special-footer);
$background-color_12: var(--culoare-header-footer);
$background-color_13: lightblue;
$background-color_14: var(--culoare-hover);
$background-color_15: white;
$background-color_16: #333;
$background-color_17: #444;
$background-color_18: black;
$background-color_19: var(--culoare-highlight);
$background-color_20: rgba(0, 0, 0, 0.4);
$background-color_21: #f5f5f5;
$background-color_22: yellow;
$background-color_23: #eee;
$background-color_24: #d32f2f;
$background-color_25: red;
$border-color_1: white;
$border-color_2: #d32f2f;
$border-bottom-color_1: var(--culoare-highlight);

@keyframes animatie_submeniu {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	100% {
		opacity: 1;
		transform: scaleY(100%);
	}
}
/*******************************************/
/*#lst li{
  page-break-before: always;
}*/
@page{
size:A4 portrait;
margin-bottom:2cm;
margin-top:2cm;
counter-increment:page;
}
@page left{
margin-left:2cm;
margin-right:1cm;
border-radius:20cm;
}
@page right{
margin-right:2cm;
margin-left:1cm;
}
@keyframes afis_submeniu {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}
@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes schimba-bg {
	0% {
		background-image: var(--bg1);
	}
	33% {
		background-image: var(--bg2);
	}
	66% {
		background-image: var(--bg3);
	}
	100% {
		background-image: var(--bg1);
	}
}
/*2222*/
/* AICI ascundem submeniurile */
/* Ascundem iconițe, logouri, meniuri hamburger */
/* Iconița albă */
/* Ascunde input radio standard */
/* Cerculeț radio custom */
/* Cerculețul interior când e selectat */
/* Schimbare culoare text când radio e selectat */
/* Hover pe label */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
#ch-menu {
	display: none;
	display: none;
	&:checked+.hamburger-container {
		background-color: $background-color_1;
	}
	&:checked~.meniu {
		background-color: $background-color_1;
	}
}
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	--culoare-primara: #03045E;
	--culoare-secundara: #0077B6;
	--culoare-highlight: #00B4D8;
	--culoare-background-deschisa: #f5f5f5;
	--culoare-background-inchisa: #e9f8fb;
	--culoare-background-baza: #ffffff;
	--culoare-tabel: #2e7d32;
	--culoare-text: #333;
	--culoare-tabel_inf_sup: #f39c12;
	--culoare-scris-zone: #03527c;
	--padding: 2rem;
	--spatiu-mare: 2rem;
	--spatiu-mediu: 1.5rem;
	--spatiu-mic: 1rem;
	--culoare-header-footer: #f8f9fa;
	--culoare-special-footer: #afcfef;
	--width-maxim: 75rem;
	--culoare-activ: #f43100;
	--culoare-link-vizitat: #0044d883;
	--culoare-hover: #0044d8;
	--culoare-light: #ffffff;
	background-color: $background-color_2;
	color: $color_1;
	font-size: var(--spatiu-mic);
	line-height: 1.6;
}
body.dark {
	margin: 0px;
	padding: 0px;
	height: 100%;
	--culoare-primara: #0d6efd;
	--culoare-secundara: #6c757d;
	--culoare-highlight: #17a2b8;
	--culoare-background-deschisa: #2c2f33;
	--culoare-background-inchisa: #1e2124;
	--culoare-background-baza: #0d0d0d;
	--culoare-tabel: #343a40;
	--culoare-text: #e0e0e0;
	--culoare-tabel_inf_sup: #ffc107;
	--culoare-scris-zone: #adb5bd;
	--padding: 2rem;
	--spatiu-mare: 2rem;
	--spatiu-mediu: 1.5rem;
	--spatiu-mic: 1rem;
	--culoare-header-footer: #1a1d20;
	--culoare-special-footer: #343a40;
	--width-maxim: 75rem;
	--culoare-activ: #ff4c29;
	--culoare-link-vizitat: #6f42c1;
	--culoare-hover: #1f8ef1;
	--culoare-light: #1a1d20;
	background-color: $background-color_2;
	color: $color_1;
	font-size: var(--spatiu-mic);
	line-height: 1.6;
}
body.red {
	margin: 0px;
	padding: 0px;
	height: 100%;
	--culoare-primara: #d32f2f;
	--culoare-secundara: #b71c1c;
	--culoare-highlight: #ff6659;
	--culoare-background-deschisa: #2a0000;
	--culoare-background-inchisa: #1a0000;
	--culoare-background-baza: #0d0000;
	--culoare-tabel: #4a0000;
	--culoare-text: #f5c6c6;
	--culoare-tabel_inf_sup: #ff7961;
	--culoare-scris-zone: #e57373;
	--padding: 2rem;
	--spatiu-mare: 2rem;
	--spatiu-mediu: 1.5rem;
	--spatiu-mic: 1rem;
	--culoare-header-footer: #3b0000;
	--culoare-special-footer: #5c0000;
	--width-maxim: 75rem;
	--culoare-activ: #ff3d00;
	--culoare-link-vizitat: #b71c1c;
	--culoare-hover: #ff7961;
	--culoare-light: #330000;
	background-color: $background-color_2;
	color: $color_1;
	font-size: var(--spatiu-mic);
	line-height: 1.6;
}
#grid-pagina {
	display: grid;
	grid-template-areas: "prezentare   prezentare prezentare" "calendar     tabel      anunturi" "utilizatori  tabel      anunturi" "utilizatori  statistica server" "diverse      diverse    diverse";
	>* {
		padding: 1rem;
	}
}
#welcome {
	grid-area: prezentare;
}
#calendar-evenimente {
	grid-area: calendar;
}
.calendar-placeholder {
	background: #e0e0e0;
	padding: var(--spatiu-mediu);
	border-radius: 0.5rem;
	font-size: 1.125rem;
}
#anunturi {
	grid-area: anunturi;
}
.anunturi-placeholder {
	background: #ffeeba;
	padding: var(--spatiu-mediu);
	border-radius: 0.5rem;
	font-size: 1.125rem;
	font-weight: bold;
}
#tabel-container {
	grid-area: tabel;
}
#utilizari-online {
	grid-area: utilizatori;
}
.lista-utilizatori {
	display: flex;
	flex-direction: column;
	gap: var(--spatiu-mic);
	align-items: center;
	margin-top: var(--spatiu-mic);
}
.utilizator {
	display: flex;
	align-items: center;
	gap: var(--spatiu-mic);
	background: #bee5eb;
	padding: var(--spatiu-mic);
	border-radius: 0.5rem;
	width: 12.5rem;
	font-size: 1.125rem;
}
#utilizator-statistica {
	grid-area: statistica;
}
.utilizator-statistica {
	h2 {
		color: $color_2;
		font-size: var(--spatiu-mediu);
	}
	p {
		color: $color_2;
		font-size: var(--spatiu-mic);
	}
}
.utilizator-info {
	background-color: $background-color_3;
	padding: var(--spatiu-mediu);
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	h3 {
		font-size: 2rem;
		color: $color_2;
	}
}
.utilizator-detalii {
	p {
		font-size: var(--spatiu-mic);
		margin: 0.313rem 0;
	}
}
.utilizator-stats {
	margin-top: var(--spatiu-mediu);
	background-color: $background-color_4;
	padding: var(--spatiu-mic);
	border-radius: 0.375rem;
	p {
		font-size: var(--spatiu-mic);
		margin: 0.313rem 0;
	}
}
strong {
	font-weight: bold;
	font-weight: bold;
}
#site-server-info {
	grid-area: server;
}
.site-server-info {
	h2 {
		color: $color_2;
		font-size: var(--spatiu-mediu);
	}
	p {
		color: $color_2;
		font-size: var(--spatiu-mic);
	}
}
.site-detalii {
	background-color: $background-color_3;
	padding: var(--spatiu-mediu);
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	h3 {
		font-size: 2rem;
		color: $color_2;
	}
}
.server-detalii {
	background-color: $background-color_3;
	padding: var(--spatiu-mediu);
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	h3 {
		font-size: 2rem;
		color: $color_2;
	}
}
.site-data {
	p {
		font-size: var(--spatiu-mic);
		margin: 0.313rem 0;
	}
}
.server-data {
	p {
		font-size: var(--spatiu-mic);
		margin: 0.313rem 0;
	}
}
.site-server-placeholder {
	background-color: $background-color_5;
	padding: 2rem;
	margin-top: 2rem;
	border-radius: 0.375rem;
	text-align: center;
	p {
		color: $color_3;
		font-size: 1.125rem;
		font-style: italic;
	}
}
#continut-extra {
	grid-area: diverse;
}
#zona-extra {
	background-color: $background-color_3;
	padding: var(--spatiu-mediu);
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.continut-extra {
	h2 {
		color: $color_2;
		font-size: var(--spatiu-mediu);
	}
	p {
		color: $color_2;
		font-size: var(--spatiu-mic);
	}
}
.image-gallery {
	margin-top: 2rem;
}
.gallery-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--spatiu-mediu);
	img {
		width: calc(33.33% - var(--spatiu-mediu));
		border-radius: 0.5rem;
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	}
}
.citat {
	margin-top: 1.875rem;
	border-radius: 0.5rem;
	font-style: italic;
	padding: 2rem;
	background-color: $background-color_3;
	border-left: 0.313rem solid #ff6f61;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: $background-color_9;
	height: 2.5em;
	blockquote {
		margin: 0;
	}
}
.link-uri {
	margin-top: 1.875rem;
	background-color: $background-color_3;
	padding: var(--spatiu-mediu);
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		margin: var(--spatiu-mic) 0;
	}
	a {
		text-decoration: none;
		color: $color_4;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	a[href^="http"] {
		&:hover {
			&::before {
				color: $color_14;
			}
		}
	}
}
#stiri {
	margin-top: 1.875rem;
	background-color: $background-color_3;
	padding: var(--spatiu-mediu);
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	column-count: 1;
	column-gap: 2rem;
	column-rule: 2px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	text-align: justify;
}
.stiri {
	p {
		font-size: var(--spatiu-mic);
		color: $color_2;
	}
}
.feedback {
	margin-top: 1.875rem;
	background-color: $background-color_3;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	animation: schimba-bg 15s infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color_10;
	text-shadow: 0 0 10px black;
	form {
		display: flex;
		flex-direction: column;
	}
	textarea {
		padding: var(--spatiu-mic);
		border: 0.063rem solid #ccc;
		border-radius: 0.5rem;
		resize: vertical;
		margin-bottom: var(--spatiu-mediu);
	}
	button {
		background-color: $background-color_6;
		color: $color_5;
		border: none;
		padding: var(--spatiu-mic);
		border-radius: 0.5rem;
		cursor: pointer;
		&:hover {
			background-color: $background-color_7;
		}
	}
}
.descriere-produs {
	margin-top: var(--spatiu-mediu);
	padding: var(--spatiu-mediu);
	background-color: $background-color_8;
	border-radius: 0.313rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
	summary {
		font-weight: bold;
		color: $color_6;
		cursor: pointer;
	}
	details[open] {
		summary {
			background-color: $background-color_9;
			border-radius: 0.313rem;
			padding: var(--spatiu-mic) 0;
		}
	}
	a {
		color: $color_6;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: $color_7;
		}
	}
}
main {
	padding: 2.5rem 2rem;
	a {
		position: relative;
		background-image: radial-gradient(circle, var(--culoare-hover) 0%, var(--culoare-hover) 40%, transparent 80%, transparent 100%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 0 0;
		transition: background-size 0.4s ease;
		z-index: 0;
		text-decoration: underline;
		&:visited {
			color: $color_15;
		}
		&:hover {
			background-size: 100% 100%;
		}
		&:active {
			color: $color_16;
			border: 6px solid black;
		}
	}
}
h1 {
	color: $color_6;
	margin-bottom: var(--spatiu-mediu);
	font-size: 1.875rem;
	text-align: center;
}
h2 {
	color: $color_6;
	margin-bottom: var(--spatiu-mediu);
	font-size: 1.625rem;
	text-align: center;
	margin-top: 2rem;
}
h3 {
	color: $color_6;
	margin-bottom: var(--spatiu-mediu);
	font-size: 1.375rem;
	margin-top: 2rem;
}
.sub-titlu {
	font-size: 1.125rem;
	color: $color_8;
	text-align: center;
	font-style: italic;
}
p {
	margin-bottom: var(--spatiu-mediu);
}
hr {
	margin-top: 1.875rem;
	border: 0.063rem solid var(--culoare-primara);
}
.continut-despre-noi {
	background-color: $background-color_10;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
	line-height: 15px;
	h2 {
		text-align: center;
	}
	h3 {
		text-align: center;
	}
	.sub-title {
		font-weight: normal;
		text-align: center;
		margin-top: var(--spatiu-mic);
	}
	a {
		color: $color_6;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.content-servicii {
	max-width: 50rem;
	margin: 2rem auto;
	padding: var(--spatiu-mediu);
	background-color: $background-color_10;
	border-radius: 0.5rem;
	box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	p {
		text-align: justify;
	}
	em {
		display: block;
		font-style: italic;
		color: $color_8;
		margin-top: var(--spatiu-mic);
		text-align: center;
	}
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	margin-bottom: var(--spatiu-mic);
}
footer {
	background-color: $background-color_11;
	margin-bottom: var(--spatiu-mare);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	padding: 2rem;
	a {
		text-decoration: none;
		color: $color_6;
		font-weight: bold;
		transition: color 0.3s ease, text-shadow 0.3s ease;
		&:hover {
			color: $color_7;
			text-shadow: 0 0 0.25rem var(--culoare-secundara);
		}
	}
}
.table-container {
	overflow-x: auto;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 2rem;
	min-width: 600px;
	width: 100%;
	min-width: unset;
}
th {
	border: 0.063rem solid #555;
	padding: 0.5rem;
	text-align: center;
}
td {
	border: 0.063rem solid #555;
	padding: 0.5rem;
	text-align: center;
	&:nth-child(odd)+td {
		border-left: 0.125rem solid var(--culoare-primara);
	}
	&:nth-child(even)+td {
		border-left: 0.125rem solid var(--culoare-secundara);
	}
}
thead {
	background-color: $background-color_1;
	color: $color_5;
	font-weight: bold;
	border-bottom: 0.188rem solid var(--culoare-tabel_inf_sup);
}
tfoot {
	background-color: $background-color_12;
	font-weight: bold;
	border-top: 0.188rem solid var(--culoare-tabel_inf_sup);
}
tbody {
	tr {
		transition: box-shadow 0.5s ease-in-out;
		&:hover {
			box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
		}
	}
}
caption {
	caption-side: bottom;
	padding-top: var(--spatiu-mic);
	font-style: italic;
	color: $color_2;
}
.container-iframe {
	border: 0.25rem solid var(--culoare-primara);
	padding: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	max-width: 35.5rem;
	margin: 0rem;
}
.taburi-iframe {
	display: flexbox;
	justify-content: center;
	gap: var(--spatiu-mic);
	margin-top: 0.9rem;
	margin-left: 6.7rem;
	a {
		background-color: $background-color_10;
		color: $color_6;
		padding: var(--spatiu-mic) var(--spatiu-mediu);
		border-radius: 0 0 var(--spatiu-mic) var(--spatiu-mic);
		text-decoration: none;
		font-weight: bold;
		border: 0.125rem solid var(--culoare-primara);
		transition: background 0.3s, box-shadow 0.3s;
		&:hover {
			background-color: $background-color_3;
			box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}
	}
}
#link-top {
	position: fixed;
	bottom: 1em;
	left: 1em;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 0.313rem solid var(--culoare-primara);
	border-right: 0.313rem solid var(--culoare-primara);
	border-radius: 50%;
	background: var(--culoare-special-footer);
	text-decoration: none;
	transition: opacity 0.4s ease-in-out;
	&:hover {
		opacity: 1;
		#triunghi {
			transform: translateY(-0.313rem);
			border-bottom-color: $border-bottom-color_1;
		}
		#tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}
#triunghi {
	width: 0;
	height: 0;
	border-left: var(--spatiu-mic) solid transparent;
	border-right: var(--spatiu-mic) solid transparent;
	border-bottom: var(--spatiu-mediu) solid var(--culoare-secundara);
	transition: transform 0.4s ease-in-out, border-bottom-color 0.4s ease-in-out;
}
#tooltip {
	position: absolute;
	bottom: 120%;
	background: var(--culoare-primara);
	color: $color_5;
	padding: 0.313rem var(--spatiu-mic);
	border-radius: 0.313rem;
	font-size: 0.8rem;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	white-space: nowrap;
}
.formula-container {
	background: var(--culoare-background-baza);
	padding: 1.25rem;
	border-radius: 0.625rem;
	box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	display: inline-block;
}
math {
	font-size: 1.25rem;
}
.highlight-formula {
	font-weight: bold;
	color: $color_6;
}
.formula-scris {
	font-style: italic;
}
#watermark {
	display: none;
}
#absolut {
	display: none;
}
#grid-pag {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 15px;
	column-gap: 5px;
	padding: 10px;
}
.celula {
	background-color: $background-color_13;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 16px;
	text-align: center;
}
#end {
	color: $color_9;
}
nav {
	--latime-buton: 100px;
	--inaltime-buton: 50px;
	--culoare-deschisa-meniu: pink;
	--culoare-inchisa-meniu: purple;
	background-color: $background-color_1;
	display: flex;
	justify-content: flex-end;
}
.logo {
	margin-left: -1400px;
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		margin-top: 50px;
	}
	img {
		height: 2.188rem;
		margin-right: 0.5rem;
	}
}
.meniu {
	margin-bottom: -110px;
	margin-right: -800px;
}
.brand-name {
	color: $color_10;
}
#hamburger {
	display: none;
}
ul.meniu {
	div.imag-icon {
		display: none;
	}
	display: flex;
	list-style-type: none;
	padding: 0;
	margin-top: -50px;
	ul {
		display: none;
		padding: 0;
		list-style-type: none;
		z-index: 3;
		position: relative;
		margin-left: -1px;
		animation-name: afis_submeniu;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		transform-origin: 50% 0;
		li {
			height: 50px;
			line-height: 35px;
			padding: 0;
			margin: 0;
			background-color: $background-color_1;
		}
	}
	li {
		width: var(--latime-buton);
		height: var(--inaltime-buton);
		line-height: var(--inaltime-buton);
		text-align: center;
		font-weight: bold;
		transition: all 0.5s linear;
		box-sizing: border-box;
		background-color: $background-color_1;
		&:hover {
			background-color: $background-color_14;
			ul {
				display: block;
			}
		}
		div {
			text-decoration: none;
			color: $color_11;
			display: block;
			height: 100%;
			cursor: pointer;
			transition: all 0.5s linear;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 5px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $background-color_15;
				transform: scaleX(0) translateY(5px);
				transition: transform 0.3s ease;
			}
			&:hover {
				&::after {
					transform: scaleX(1) translateY(1);
				}
				color: $color_10;
			}
		}
		a {
			text-decoration: none;
			color: $color_11;
			display: block;
			height: 100%;
			cursor: pointer;
			transition: all 0.5s linear;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 5px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $background-color_15;
				transform: scaleX(0) translateY(5px);
				transition: transform 0.3s ease;
			}
			&:hover {
				&::after {
					transform: scaleX(1) translateY(1);
				}
				color: $color_10;
			}
		}
	}
}
.link-uri {
	a[href^="http"] {
		&::before {
			content: "⮳";   
			font-size: 150%;
			margin-right: 0.25em;
			color: $color_13;
			transition: color 0.3s ease;
		}
	}
}

#grid-galerie {
	display: grid;
	gap: 0.5em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	figure {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	figcaption {
		margin-top: 0.5em;
		font-size: 1rem;
		color: $color_17;
		text-align: center;
	}
	>picture {
		&:nth-child(1) {
			grid-area: 1/1;
		}
		&:nth-child(2) {
			grid-area: 1/2;
		}
		&:nth-child(3) {
			grid-area: 1/3;
		}
		&:nth-child(4) {
			grid-area: 2/1;
		}
		&:nth-child(5) {
			grid-area: 2/3;
		}
		&:nth-child(6) {
			grid-area: 3/1;
		}
		&:nth-child(7) {
			grid-area: 3/3;
		}
		&:nth-child(8) {
			grid-area: 4/1;
		}
		&:nth-child(9) {
			grid-area: 4/2;
		}
		&:nth-child(10) {
			grid-area: 4/3;
		}
	}
	picture {
		transition: transform 1.2s ease, border-width 1.2s ease;
		display: block;
		border: var(--initial-border, 0px) solid grey;
		&:hover {
			transform: scale(1.25) rotate(-10deg);
			border-width: calc(var(--initial-border, 0px) + 4px);
		}
	}
}
.chitara_efect {
	position: relative;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	margin: 60px;
	display: block;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		mix-blend-mode: screen;
		transition: transform 0.5s ease;
		left: 0;
		background-color: $background-color_1;
		transform: translateX(-100%);
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		mix-blend-mode: screen;
		transition: transform 0.5s ease;
		left: 0;
		background-color: $background-color_14;
		transform: translateX(100%);
	}
	&:hover {
		&::before {
			transform: translateX(0);
		}
		&::after {
			transform: translateX(0);
		}
	}
}
#container-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#text {
	transform: rotate(-15deg);
	display: inline-block;
	color: $color_18;
	position: relative;
	padding-left: -25px;
	font-size: 25px;
	line-height: 50px;
	font-weight: bold;
	margin: 0 auto;
	&:hover {
		color: $color_6;
	}
}
#text-reflectat {
	position: absolute;
	left: 110px;
	top: 55px;
	transform-origin: 0 0;
	opacity: 0.55;
	padding-top: 0px;
	transform: rotate(30deg) scaleX(-1);
	display: inline-block;
	position: relative;
	padding-left: -25px;
	font-size: 25px;
	line-height: 50px;
	font-weight: bold;
	margin: 0 auto;
}
::selection {
	background-color: $background-color_19;
	color: $color_14;
}
.citat-text {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	animation: scroll-left 10s linear infinite;
	font-size: 1.2em;
	color: $color_19;
}
:root {
	--bg1: url("/resurse/imagini/bg1.jpg");
	--bg2: url("/resurse/imagini/bg2.jpg");
	--bg3: url("/resurse/imagini/bg3.jpg");
}
.continut-feedback {
	text-align: center;
	padding: 2rem;
	background-color: $background-color_20;
	border-radius: 15px;
}
.tabel-produse-scroll {
	width: 100%;
	margin: 2rem 0;
}
.tabel-produse {
	td {
		&:first-child {
			background-color: $background-color_1;
			font-weight: bold;
			color: $color_20;
		}
		border: 1px solid #ddd;
		padding: 12px;
		text-align: left;
	}
	th {
		&:first-child {
			background-color: $background-color_1;
			font-weight: bold;
			color: $color_20;
		}
		border: 1px solid #ddd;
		padding: 12px;
		text-align: left;
	}
	width: 100%;
	border-collapse: collapse;
	min-width: 600px;
	caption {
		caption-side: top;
		font-weight: bold;
		margin-bottom: 10px;
	}
	thead {
		background-color: $background-color_21;
	}
	tfoot {
		td {
			font-weight: bold;
			text-align: center;
			background-color: $background-color_9;
		}
	}
}
.tabel-produse-transpus {
	.tabel-custom {
		width: 100%;
		border-collapse: collapse;
	}
	th {
		border: 1px solid #aaa;
		padding: 10px;
		text-align: left;
	}
	td {
		border: 1px solid #aaa;
		padding: 10px;
		text-align: left;
	}
}
.linie-dubla {
	position: relative;
	height: 0;
	border: none;
	border-bottom: 4px solid var(--culoare-primara);
	width: 90%;
	margin: 3rem auto;
	border-radius: 50px;
	&::after {
		content: "";
		position: absolute;
		top: -8px;
		left: 0;
		width: 100%;
		height: 0;
		border-top: 4px solid var(--culoare-secundara, white);
		border-radius: 50px;
	}
}
.video-background {
	position: relative;
	height: 100vh;
	overflow: hidden;
	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
		z-index: -1;
		object-fit: cover;
		filter: brightness(0.5);
	}
}
.continut-peste-video {
	position: relative;
	z-index: 1;
	color: $color_10;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
.selectat {
	color: $color_21;
	background-color: $background-color_22;
	font-weight: bold;
}
.scroll-orizontal {
	overflow-x: auto;
}
#schimba_tema {
	cursor: pointer;
	font-size: 1.2rem;
	background: transparent;
	border: none;
	color: $color_22;
	margin-top: -20px;
	margin-right: 5px;
}
#schimba_tema.form-check-input {
	background-color: $background-color_15 !important;
	border-color: $border-color_1 !important;
	&:checked {
		background-color: $background-color_15 !important;
		border-color: $border-color_1 !important;
	}
}
#icon-theme-toggle {
	color: $color_10 !important;
}
.mt-larger {
	margin-top: 40px;
}
.form-check-input {
	display: none;
}
input[type="range"].form-range {
	height: 0.5rem;
	&::-webkit-slider-thumb {
		width: 24px;
		height: 24px;
		background: #0d6efd;
		border-radius: 50%;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -9px;
	}
	&::-moz-range-thumb {
		width: 24px;
		height: 24px;
		background: #0d6efd;
		border-radius: 50%;
		cursor: pointer;
	}
	&::-webkit-slider-runnable-track {
		background: #6c757d;
		height: 0.5rem;
		border-radius: 0.25rem;
	}
	&:focus {
		&::-webkit-slider-runnable-track {
			background: #0d6efd;
		}
	}
}
#selected-categories {
	font-weight: 500;
}
input[type="checkbox"] {
	&:checked {
		+ {
			label {
				font-weight: bold;
				color: $color_23;
				text-decoration: underline;
			}
		}
	}
}
.stylish-hr {
	border: none;
	height: 8px;
	position: relative;
	margin: 2rem 0;
	background: transparent;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 3px;
		border-radius: 10px;
		top: 0;
		border-top: 3px solid #1E40AF;
		border-radius: 10px 10px 0 0;
	}
	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 3px;
		border-radius: 10px;
		bottom: 0;
		border-bottom: 3px solid #93C5FD;
		border-radius: 0 0 10px 10px;
	}
}
.buton-tema {
	display: inline-flex;
	align-items: center;
	margin-right: 1.5rem;
	font-family: $font-family_2;
	font-weight: 600;
	cursor: pointer;
	color: $color_24;
	user-select: none;
	position: relative;
	padding-left: 28px;
	font-size: 1rem;
	transition: color 0.3s ease;
	display: block;
	margin-bottom: 12px;
	font-family: $font-family_3;
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
	color: $color_10;
	input[type="radio"] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: 0;
		height: 0;
		margin-right: 8px;
		&:checked {
			+ {
				.custom-radio {
					background-color: $background-color_24;
					border-color: $border-color_2;
					&::after {
						content: "";
						position: absolute;
						top: 4px;
						left: 4px;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: white;
					}
					+ {
						* {
							color: $color_25;
						}
					}
				}
			}
			~ {
				span.text-label {
					color: $color_25;
				}
			}
		}
	}
	.custom-radio {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 18px;
		width: 18px;
		background-color: $background-color_23;
		border-radius: 50%;
		border: 2px solid #ccc;
		transition: background-color 0.3s, border-color 0.3s;
	}
	&:hover {
		color: $color_25;
	}
}
.badge-nou {
	background-color: $background-color_25;
	color: $color_10;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
}
#produse-similare {
	margin-top: 40px;
	padding: 30px;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
.lista-produse-similare {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}
.produs-similar {
	box-shadow: 0 0 8px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease;
	flex: 1 1 400px;
	max-width: 450px;
	padding: 25px;
	background: #fff;
	border-radius: 8px;
	font-size: 1.2rem;
	&:hover {
		box-shadow: 0 0 15px rgba(0,0,0,0.35);
	}
	img {
		display: block;
		margin-bottom: 20px;
		width: 100%;
		height: auto;
		border-radius: 6px;
		max-height: 300px;
		object-fit: contain;
	}
	h4 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
	p {
		font-size: 1.1rem;
		margin-bottom: 8px;
	}
}
@media print {
	// Elemente ascunse la imprimare
	img, video, iframe, figure, figcaption,
	#link-top, .logo, #hamburger, #ch-menu, .imag-icon {
		display: none !important;
	}

	// Linkuri cu stil personalizat la imprimare
	.link-uri a,
	.adresa a {
		color: $color_12;
		text-decoration: none;
	}

	// Header
	h1 {
		page-break-after: always;
		margin-top: -750px;
		text-align: center;
		margin-left: 0;
	}

	// Footer
	#footer {
		page-break-before: always;
	}

	// Secțiune principală
	#scris {
		margin-top: 40px;
	}

	// Avertisment proiect
	#absolut {
		position: absolute;
		display: inline-block;
		top: 100%;
		width: 20px;
		height: 20px;
		right: 0;
		overflow: visible;

		&::after {
			content: "Acesta este un proiect școlar!";
			position: absolute;
			font-size: 10px;
			right: 0;
			border: 5px double black;
			width: 200px;
			height: 35px;
			display: inline-block;
		}
	}

	// Navigare tip listă
	.navbar {
		list-style-type: none;
		background-color: $background-color_16;
		padding: 10px;
		width: 200px;
		margin: 500px auto 0 auto;

		> li {
			position: relative;
		}

		li a {
			display: block;
			color: $color_10;
			text-decoration: none;
			padding: 10px;
			background-color: $background-color_17;
			border-bottom: 1px solid #555;
		}
	}

	// Grid pagini
	#grid-pag {
		font-size: 10px;
		box-sizing: border-box;
		page-break-before: always;
		background-color: $background-color_15;
		display: block;

		div:nth-child(5) {
			page-break-before: always;
		}
	}

	// Dimensiuni și overflow pentru pagină
	html,
	body {
		width: 210mm;
		padding: 10px;
		overflow: visible !important;
	}

	// Watermark
	#watermark {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		width: 60%;
		height: 10vh;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: transparent;
		border: 2px solid black;
		border-radius: 10px;

		&::after {
			content: "Copyright Ricu \aMarius";
			color: $color_12;
			opacity: 0.3;
			white-space: pre-line;
			text-align: center;
			font-size: 1.2em;
		}
	}

	// Pagina de final
	#end {
		page-break-before: always;
	}

	// Meniu vertical
	.meniu-vertical {
		list-style-type: none;
		padding: 0;
		margin: 1rem auto;
		width: fit-content;
		text-align: left;

		> li {
			margin-bottom: 50rem;
		}

		li ul {
			list-style-type: circle;
			margin-left: 1.5rem;
			margin-top: 0.3rem;
		}
	}

	// Meniu orizontal
	ul.meniu {
		display: block;
		margin: 300px 0 0 -500px;
		padding: 0;

		li {
			display: block;
			width: auto;
			height: auto;
			line-height: 1.5;
			background: none !important;
			color: $color_12;
			border-bottom: 1px solid black;
			position: relative;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background-color: $background-color_18;
				margin-bottom: 4px;
			}

			a,
			> div {
				color: $color_12 !important;
				text-decoration: none;
				display: inline-block;
				height: auto;
			}

			ul {
				display: none !important;
			}
		}

		ul {
			display: block !important;
			position: static;
			margin-left: 1rem;
			background: none;
			transform: none !important;
			animation: none !important;

			li {
				background: none;
				height: auto;
				line-height: 1.5;
				border-bottom: none;
			}
		}
	}

	// Navbar standard
	nav {
		background: none !important;
		color: $color_12 !important;
	}
}
