<!DOCTYPE html>
<html lang="ro">

<head>
  <title>LOUD MUSIC</title>
  <meta name="keywords" content="Instrumente Muzicale, Chitara, Boxe, Microfon, Tobe, Pian, Monitoare de Studio, Reparații, Sintetizator, Reduceri">
  <meta name="description" content="Magazin de instrumente muzicale și accesorii.">
  <%- include("../fragmente/head.ejs") %>
  <script src="/resurse/js/comparare.js"></script>
</head>

<body>
  <%- include("../fragmente/header.ejs") %>

  <main>
    <h1>Comparație Produse</h1>
    <div id="comparare-produse">
      <!-- Conținutul va fi generat din JavaScript -->
    </div>
    <!-- <button class="btn-compara" onclick="adaugaLaComparare(1, 'Produs 1')">Compară</button> -->

  </main>

  <%- include("../fragmente/footer.ejs") %>
</body>

</html>