<!DOCTYPE html>
<html lang="ro">

<head>
  <title>LOUD MUSIC</title>
  <meta name="keywords" content="<b>Instrumente Muzicale</b>, <b>Chitara</b>, <b>Boxe</b>, <b>Microfon</b>, <b>Tobe</b>, <b>Pian</b>, <b>Monitoare de Studio</b>, <b>Reparații</b>, <b>Sintetizator</b>, <b>Reduceri</b>">
  <meta name="description" content="<b>Magazin de instrumente muzicale</b> și accesorii.">
  <%- include("../fragmente/head.ejs") %>
</head>

<body>
  <%- include("../fragmente/header.ejs") %>
  <main>
    <div class="continut-despre-noi">
      <strong>
        LOUD MUSIC SRL a fost înființată în 2025 cu scopul de a deveni un
        partener de încredere pentru toți muzicienii, indiferent de nivelul
        lor de pregătire, prin seriozitate, servicii de calitate și o
        înțelegere profundă a pieței locale. Reprezentăm cu mândrie, în
        România, branduri de renume mondial care au transformat industria
        muzicală, printre care Korg, Vox, Ibanez, Tama, Casio, Takamine, PRS,
        Seymour Duncan, Samson, Kurzweil, Orange, GHS, Mooer, Darkglass și
        Vintage.
        <p></p>
        <h1 class="sub-titlu">De ce LOUD Music?</h1>
        <p>
          Suntem o echipă tânără și pasionată. Fiecare dintre angajații noștri
          cântă la un instrument sau are o voce remarcabilă. Suntem o familie
          unită de chitariști, basisti, bateristi, keyboardisti, DJ și
          ingineri de sunet. În timpul nostru liber, ne găsești în sala de
          repetiții sau pe scenă, exact ca și voi! Participăm la toate
          târgurile importante din întreaga lume pentru a fi la curent cu cele
          mai recente lansări. Oricând ne contactezi la 012 345 67 89, vei
          discuta cu un specialist - cineva care cunoaște în detaliu toate
          produsele noastre și îți poate oferi sfaturi bazate pe experiență.
          Un expert care a testat produsele și care îți va răspunde cu
          ușurință la toate întrebările.
        </p>

        <h1 class="sub-titlu">
          Toată activitatea noastră se desfășoară în concordanță cu setul
          nostru de valori fundamentale.
        </h1>
        <p>
          Ne angajăm să fim sinceri și transparenți în fiecare aspect al
          afacerii noastre. Ne mândrim cu un comportament bazat pe principii
          morale solide. Etica noastră stă la baza întregii noastre
          activități. De fiecare dată când ne vei adresa o întrebare, poți fi
          sigur că vei primi un răspuns corect și prompt.
        </p>

        <h3 class="sub-titlu">În fiecare an din ce în ce mai buni</h3>
        <p>
          Ne străduim să devenim mai buni în fiecare an, oferind servicii tot
          mai complexe și o gamă de produse mai bine adaptată nevoilor tale.
          Analizăm constant toate procesele noastre pentru a ne asigura că vei
          avea o experiență cât mai plăcută alături de noi. Oriunde
          identificăm oportunități de îmbunătățire, ne apucăm imediat de
          treabă!
        </p>

        <h3 class="sub-titlu">Nu uita niciodată!</h3>
        <p>
          Nu am uitat și nu vom uita niciodată ce înseamnă prima chitară,
          primul instrument, primul pas spre muzică. Aceasta este, poate, cea
          mai mare responsabilitate a noastră: să nu uităm că nu vândem doar
          produse, ci oferim un viitor.
        </p>

        <h3>Locația noastră</h3>
      </strong>
      <section id="Locatia">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011393146!2d26.097011776218338!3d44.43553547107579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741553817493!5m2!1sro!2sro" width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy">
        </iframe>
      </section>
    </div>
  </main>
  <%- include("../fragmente/footer.ejs") %>
</body>

</html>