<!DOCTYPE html>
<html lang="ro">

<head>
  <title>LOUD MUSIC</title>
  <meta name="keywords" content="<b>Instrumente Muzicale</b>, <b>Chitara</b>, <b>Boxe</b>, <b>Microfon</b>, <b>Tobe</b>, <b>Pian</b>, <b>Monitoare de Studio</b>, <b>Reparații</b>, <b>Sintetizator</b>, <b>Reduceri</b>">
  <meta name="description" content="<b>Magazin de instrumente muzicale</b> și accesorii.">
  <%- include("../fragmente/head.ejs") %>
</head>

<body>
  <%- include("../fragmente/header.ejs") %>
  <main>
    <div class="content-servicii" style="text-align: justify">
      <h1 class="sub-title red">Problema ta este în grija noastră!</h1>
      <p></p>
      Suntem mândri să oferim un serviciu de reparații în garanție de cea mai
      înaltă calitate, toate intervențiile fiind realizate în propria noastră
      unitate de service, de către tehnicieni specializați, cu o vastă
      experiență în domeniu. Ca distribuitori autorizați ai furnizorilor pe
      care îi reprezentăm, efectuăm reparații, inclusiv cele mai complexe,
      pentru toate produsele pe care le comercializăm.
    </div>

    <div class="content-servicii" style="text-align: justify">
      De fiecare dată când vei contacta departamentul nostru de service, vei
      discuta cu un specialist care îți va oferi tot sprijinul necesar pentru
      a rezolva problema întâmpinată. Nu ezita să ne contactezi ori de câte
      ori ai nevoie de ajutor, iar noi vom rezolva situația cât mai rapid
      posibil. Suntem disponibili de Luni până Vineri, între orele 10:00 –
      18:00, pentru a programa intervenția în service. Ne poți găsi la sediul
      nostru la numărul
      <a href="tel:+40123456789">+40 123 456 789</a> sau direct prin email, la
      adresa
      <a href="mailto:service@mcmusic.ro">service@loudmusic.ro</a>
    </div>

    <h2 class="content-servicii" style="text-align: justify">
      Adresa departament service:
    </h2>

    <div class="content-servicii">Strada Academiei nr. 14, sector 1</div>
    <div class="content-servicii">010014, București</div>

    <div class="content-servicii">
      Tel. <a href="tel:+40123456789">+40 123 456 789</a>
    </div>
  </main>
  <%- include("../fragmente/footer.ejs") %>
</body>

</html>