ul.meniu li div.imag-icon {
  display: block;
}

ul.meniu li div.text-icon {
  display: none;
}

.hamburger>img {
  display: block;
  max-height: 10px;
}

.navbar {
  flex-direction: column;
  align-items: center;
  padding: var(--spatiu-mic);
}

.meniu {
  flex-direction: column;
  align-items: center;
}

.meniu a {
  width: 100%;
  text-align: center;
}

.gallery-images img {
  width: calc(50% - var(--spatiu-mic));
}

#gr {
  grid-template-columns: repeat(2, 1fr);
}