<footer>
  <a href="#" id="link-top">
    <div id="triunghi"></div>
    <span id="tooltip">Mergi sus</span>
  </a>
  <address class="adresa">
    <p><strong>Contact:</strong></p>
    <p><a href="tel:+40xxxxxxxxx">Telefon: +40 123 456 789</a></p>
    <p><a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">Adresa: LOUD MUSIC</a></p>
    <p><a href="mailto:contact@loudmusic.ro">E-mail: contact@loudmusic.ro</a></p>
    <a href="https://wa.me/40773378455"><img alt="Chat on WhatsApp" src="/Resurse/imagini/WhatsAppButtonGreenLarge.svg" /></a><br>
  </address>
  <small>&copy; 2025 LOUD MUSIC. Toate drepturile rezervate. Creat pe <time datetime="2025-03-11">11 martie 2025</time>.</small>
  <p class="adresa"><a href="#top">Înapoi la început</a></p>
</footer>