<header>
    <nav class="nav">
        
      <ul class="navbar">
        
        <li class="logo">
          <a href="index">
            <img src="/resurse/ico/favicon/favicon.ico" alt="Logo">
            <span class="brand-name">LOUD MUSIC</span>
          </a>
        </li>
        
<label for="ch-menu" id="hamburger">
<span class="bar bar1"></span>
<span class="bar bar2"></span>
<span class="bar bar3"></span>
</label>
<input type="checkbox" id="ch-menu" hidden>
        <ul class="meniu">
        <li><div class="text-icon" id="acasa"><a href="index">Acasa</a></div><div class="imag-icon" id="acasa-mediu"><span class="fa-solid fa-house"></span></div>
            <li class="submeniu">
                <a href="#"><i class="fa-solid fa-bars"></i> Catalog</a>
                <ul class="submeniu2">
                  <li><a href="/chitare_acustice.html">Chitare Acoustice</a></li>
                  <li><a href="/chitare_electrice.html">Chitare Electrice</a></li>
                  <li><a href="/tobe_percutie.html">Tobe & Percuție</a></li>
                </ul>
            </li>

            <li class="submeniu">
              <a href="#"><i class="fa-solid fa-bars"></i> Detalii despre noi</a>
              <ul class="submeniu2">
                <li><a href="/Detalii">Oferte</a></li>
                <li><a href="/Servicii.html">Servicii</a></li>
                <li><a href="/Contact.html">Contact & Despre noi</a></li>
              </ul>
            </li>
            <li><a href="#stiri"><i class="fa-regular fa-envelope fa-beat-fade"></i> Ultimele stiri</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>