@keyframes animatie_submeniu {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(100%);
  }
}

/*******************************************/
/*#lst li{
  page-break-before: always;
}*/
@page {
  size: A4 portrait;
  margin-bottom: 2cm;
  margin-top: 2cm;
  counter-increment: page;
}

@page left {
  margin-left: 2cm;
  margin-right: 1cm;
  border-radius: 20cm;
}

@page right {
  margin-right: 2cm;
  margin-left: 1cm;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



#ch-menu {
  display: none;
}

#ch-menu:checked+.hamburger-container {
  background-color: var(--culoare-primara);
}

#ch-menu:checked~.meniu {
  background-color: var(--culoare-primara);
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  --culoare-primara: #03045E;
  --culoare-secundara: #0077B6;
  --culoare-highlight: #00B4D8;
  --culoare-background-deschisa: #f5f5f5;
  --culoare-background-inchisa: #e9f8fb;
  --culoare-background-baza: #ffffff;
  --culoare-tabel: #2e7d32;
  --culoare-text: #333;
  --culoare-tabel_inf_sup: #f39c12;
  --culoare-scris-zone: #03527c;
  --padding: 2rem;
  --spatiu-mare: 2rem;
  --spatiu-mediu: 1.5rem;
  --spatiu-mic: 1rem;
  --culoare-header-footer: #f8f9fa;
  --culoare-special-footer: #afcfef;
  --width-maxim: 75rem;
  --culoare-activ: #f43100;
  --culoare-link-vizitat: #0044d883;
  --culoare-hover: #0044d8;
  background-color: var(--culoare-background-deschisa);
  color: var(--culoare-text);
  font-size: var(--spatiu-mic);
  line-height: 1.6;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--culoare-primara);
  padding: var(--spatiu-mic) 1.875rem;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
  width: 100%;
}

.meniu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.meniu a {
  color: var(--culoare-background-baza);
  text-decoration: none;
  padding: var(--spatiu-mic) var(--spatiu-mediu);
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.meniu a:hover {
  background-color: var(--culoare-secundara);
  border-radius: 0.313rem;
}

.meniu details summary {
  color: var(--culoare-background-baza);
  padding: var(--spatiu-mic) var(--spatiu-mediu);
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.meniu details summary:hover {
  background-color: var(--culoare-secundara);
  border-radius: 0.313rem;
}

.meniu details:hover {
  display: block;
}

.meniu details:hover summary {
  background-color: var(--culoare-secundara);
  border-radius: 0.313rem;
}

.meniu li {
  position: relative;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.meniu li::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 82%;
  height: 4px;
  background: linear-gradient(to right, black, white, black);
  transform: translateY(-100%) translateX(-50%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}

.meniu li:hover::after {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
}

ul.meniu li div.imag-icon {
  display: none;
}

ul.meniu li:hover ul {
  display: block;
  background-color: var(--culoare-deschisa);
  position: relative;
  list-style-type: none;
  left: -1px;
}

.submeniu2 {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.submeniu {
  position: relative;
}

.submeniu:hover .submeniu2 {
  display: block;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 2.188rem;
  margin-right: 0.5rem;
}

.brand-name {
  color: var(--culoare-background-baza);
  font-size: 1.125rem;
  font-weight: bold;
}

#grid-pagina {
  display: grid;
  grid-template-areas: "prezentare   prezentare prezentare"
    "calendar     tabel      anunturi"
    "utilizatori  tabel      anunturi"
    "utilizatori  statistica server"
    "diverse      diverse    diverse";
}

#grid-pagina>* {
  padding: 1rem;
}

#welcome {
  grid-area: prezentare;
}

#calendar-evenimente {
  grid-area: calendar;
}

.calendar-placeholder {
  background: #e0e0e0;
  padding: var(--spatiu-mediu);
  border-radius: 0.5rem;
  font-size: 1.125rem;
}

#anunturi {
  grid-area: anunturi;
}

.anunturi-placeholder {
  background: #ffeeba;
  padding: var(--spatiu-mediu);
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
}

#tabel-container {
  grid-area: tabel;
}

#utilizari-online {
  grid-area: utilizatori;
}

.lista-utilizatori {
  display: flex;
  flex-direction: column;
  gap: var(--spatiu-mic);
  align-items: center;
  margin-top: var(--spatiu-mic);
}

.utilizator {
  display: flex;
  align-items: center;
  gap: var(--spatiu-mic);
  background: #bee5eb;
  padding: var(--spatiu-mic);
  border-radius: 0.5rem;
  width: 12.5rem;
  font-size: 1.125rem;
}

#utilizator-statistica {
  grid-area: statistica;
}

.utilizator-statistica h2 {
  color: var(--culoare-scris-zone);
  font-size: var(--spatiu-mediu);
}

.utilizator-statistica p {
  color: var(--culoare-scris-zone);
  font-size: var(--spatiu-mic);
}

.utilizator-info {
  background-color: var(--culoare-background-baza);
  padding: var(--spatiu-mediu);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.utilizator-info h3 {
  font-size: 2rem;
  color: var(--culoare-scris-zone);
}

.utilizator-detalii p {
  font-size: var(--spatiu-mic);
  margin: 0.313rem 0;
}

.utilizator-stats {
  margin-top: var(--spatiu-mediu);
  background-color: #f4f4f4;
  padding: var(--spatiu-mic);
  border-radius: 0.375rem;
}

.utilizator-stats p {
  font-size: var(--spatiu-mic);
  margin: 0.313rem 0;
}

strong {
  font-weight: bold;
  font-weight: bold;
}

#site-server-info {
  grid-area: server;
}

.site-server-info h2 {
  color: var(--culoare-scris-zone);
  font-size: var(--spatiu-mediu);
}

.site-server-info p {
  color: var(--culoare-scris-zone);
  font-size: var(--spatiu-mic);
}

.site-detalii {
  background-color: var(--culoare-background-baza);
  padding: var(--spatiu-mediu);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.site-detalii h3 {
  font-size: 2rem;
  color: var(--culoare-scris-zone);
}

.server-detalii {
  background-color: var(--culoare-background-baza);
  padding: var(--spatiu-mediu);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.server-detalii h3 {
  font-size: 2rem;
  color: var(--culoare-scris-zone);
}

.site-data p {
  font-size: var(--spatiu-mic);
  margin: 0.313rem 0;
}

.server-data p {
  font-size: var(--spatiu-mic);
  margin: 0.313rem 0;
}

.site-server-placeholder {
  background-color: #eaeaea;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.375rem;
  text-align: center;
}

.site-server-placeholder p {
  color: #999;
  font-size: 1.125rem;
  font-style: italic;
}

#continut-extra {
  grid-area: diverse;
}

#zona-extra {
  background-color: var(--culoare-background-baza);
  padding: var(--spatiu-mediu);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.continut-extra h2 {
  color: var(--culoare-scris-zone);
  font-size: var(--spatiu-mediu);
}

.continut-extra p {
  color: var(--culoare-scris-zone);
  font-size: var(--spatiu-mic);
}

.image-gallery {
  margin-top: 2rem;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spatiu-mediu);
}

.gallery-images img {
  width: calc(33.33% - var(--spatiu-mediu));
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.citat {
  margin-top: 1.875rem;
  border-radius: 0.5rem;
  font-style: italic;
  padding: 2rem;
  background-color: var(--culoare-background-baza);
  border-left: 0.313rem solid #ff6f61;
}

.citat blockquote {
  margin: 0;
}

.link-uri {
  margin-top: 1.875rem;
  background-color: var(--culoare-background-baza);
  padding: var(--spatiu-mediu);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.link-uri ul {
  list-style-type: none;
  padding: 0;
}

.link-uri li {
  margin: var(--spatiu-mic) 0;
}

.link-uri a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.link-uri a:hover {
  text-decoration: underline;
}

#stiri {
  margin-top: 1.875rem;
  background-color: var(--culoare-background-baza);
  padding: var(--spatiu-mediu);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.stiri p {
  font-size: var(--spatiu-mic);
  color: var(--culoare-scris-zone);
}

.feedback {
  margin-top: 1.875rem;
  background-color: var(--culoare-background-baza);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.feedback form {
  display: flex;
  flex-direction: column;
}

.feedback textarea {
  padding: var(--spatiu-mic);
  border: 0.063rem solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
  margin-bottom: var(--spatiu-mediu);
}

.feedback button {
  background-color: #ff6f61;
  color: var(--culoare-background-baza);
  border: none;
  padding: var(--spatiu-mic);
  border-radius: 0.5rem;
  cursor: pointer;
}

.feedback button:hover {
  background-color: #ff4a3f;
}

.descriere-produs {
  margin-top: var(--spatiu-mediu);
  padding: var(--spatiu-mediu);
  background-color: #f8f8f8;
  border-radius: 0.313rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
}

.descriere-produs summary {
  font-weight: bold;
  color: var(--culoare-primara);
  cursor: pointer;
}

.descriere-produs details[open] summary {
  background-color: #f0f0f0;
  border-radius: 0.313rem;
  padding: var(--spatiu-mic) 0;
}

.descriere-produs a {
  color: var(--culoare-primara);
  text-decoration: none;
}

.descriere-produs a:hover {
  text-decoration: underline;
  color: var(--culoare-secundara);
}

main {
  padding: 2.5rem 2rem;
}

h1 {
  color: var(--culoare-primara);
  margin-bottom: var(--spatiu-mediu);
  font-size: 1.875rem;
  text-align: center;
}

h2 {
  color: var(--culoare-primara);
  margin-bottom: var(--spatiu-mediu);
  font-size: 1.625rem;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  color: var(--culoare-primara);
  margin-bottom: var(--spatiu-mediu);
  font-size: 1.375rem;
  margin-top: 2rem;
}

.sub-titlu {
  font-size: 1.125rem;
  color: var(--culoare-highlight);
  text-align: center;
  font-style: italic;
}

p {
  margin-bottom: var(--spatiu-mediu);
}

hr {
  margin-top: 1.875rem;
  border: 0.063rem solid var(--culoare-primara);
}

.continut-despre-noi {
  background-color: var(--culoare-background-inchisa);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
  line-height: 15px;
}

.continut-despre-noi h2 {
  text-align: center;
}

.continut-despre-noi h3 {
  text-align: center;
}

.continut-despre-noi .sub-title {
  font-weight: normal;
  text-align: center;
  margin-top: var(--spatiu-mic);
}

.continut-despre-noi a {
  color: var(--culoare-primara);
  text-decoration: none;
}

.continut-despre-noi a:hover {
  text-decoration: underline;
}

.content-servicii {
  max-width: 50rem;
  margin: 2rem auto;
  padding: var(--spatiu-mediu);
  background-color: var(--culoare-background-inchisa);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.content-servicii p {
  text-align: justify;
}

.content-servicii em {
  display: block;
  font-style: italic;
  color: var(--culoare-highlight);
  margin-top: var(--spatiu-mic);
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: var(--spatiu-mic);
}

footer {
  background-color: var(--culoare-special-footer);
  margin-bottom: var(--spatiu-mare);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

footer a {
  text-decoration: none;
  color: var(--culoare-primara);
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer a:hover {
  color: var(--culoare-secundara);
  text-shadow: 0 0 0.25rem var(--culoare-secundara);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  min-width: 600px;
  overflow-x: 100%;
}

th {
  border: 0.063rem solid #555;
  padding: 0.5rem;
  text-align: center;
}

td {
  border: 0.063rem solid #555;
  padding: 0.5rem;
  text-align: center;
}

td:nth-child(odd)+td {
  border-left: 0.125rem solid var(--culoare-primara);
}

td:nth-child(even)+td {
  border-left: 0.125rem solid var(--culoare-secundara);
}

thead {
  background-color: var(--culoare-primara);
  color: var(--culoare-background-baza);
  font-weight: bold;
  border-bottom: 0.188rem solid var(--culoare-tabel_inf_sup);
}

tfoot {
  background-color: var(--culoare-header-footer);
  font-weight: bold;
  border-top: 0.188rem solid var(--culoare-tabel_inf_sup);
}

tbody tr {
  transition: box-shadow 0.5s ease-in-out;
}

tbody tr:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

caption {
  caption-side: bottom;
  padding-top: var(--spatiu-mic);
  font-style: italic;
  color: var(--culoare-scris-zone);
}

.container-iframe {
  border: 0.25rem solid var(--culoare-tabel);
  padding: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 35.5rem;
  margin: 0rem;
}

.taburi-iframe {
  display: flexbox;
  justify-content: center;
  gap: var(--spatiu-mic);
  margin-top: 1rem;
  margin-left: 6.5rem;
}

.taburi-iframe a {
  background-color: #c8e6c9;
  color: var(--culoare-tabel);
  padding: var(--spatiu-mic) var(--spatiu-mediu);
  border-radius: 0 0 var(--spatiu-mic) var(--spatiu-mic);
  text-decoration: none;
  font-weight: bold;
  border: 0.125rem solid var(--culoare-tabel);
  transition: background 0.3s, box-shadow 0.3s;
}

.taburi-iframe a:hover {
  background-color: var(--culoare-background-baza);
  box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#link-top {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.313rem solid var(--culoare-primara);
  border-right: 0.313rem solid var(--culoare-primara);
  border-radius: 50%;
  background: var(--culoare-special-footer);
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

#link-top:hover {
  opacity: 1;
}

#link-top:hover #triunghi {
  transform: translateY(-0.313rem);
  border-bottom-color: var(--culoare-highlight);
}

#link-top:hover #tooltip {
  visibility: visible;
  opacity: 1;
}

#triunghi {
  width: 0;
  height: 0;
  border-left: var(--spatiu-mic) solid transparent;
  border-right: var(--spatiu-mic) solid transparent;
  border-bottom: var(--spatiu-mediu) solid var(--culoare-secundara);
  transition: transform 0.4s ease-in-out, border-bottom-color 0.4s ease-in-out;
}

#tooltip {
  position: absolute;
  bottom: 120%;
  background: var(--culoare-primara);
  color: var(--culoare-background-baza);
  padding: 0.313rem var(--spatiu-mic);
  border-radius: 0.313rem;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

.formula-container {
  background: var(--culoare-background-baza);
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  display: inline-block;
}

math {
  font-size: 1.25rem;
}

.highlight-formula {
  font-weight: bold;
  color: var(--culoare-primara);
}

.formula-scris {
  font-style: italic;
}

#watermark {
  display: none;
}

#absolut {
  display: none;
}

#grid-pag {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 5px;
  padding: 10px;
}

.celula {
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

#end {
  color: var(--culoare-background-deschisa);
}

@media print {
  #footer {
    page-break-before: always;
  }

  img {
    display: none;
  }

  video {
    display: none;
  }

  iframe {
    display: none;
  }

  figure {
    display: none;
  }

  #link-top {
    display: none;
  }

  figcaption {
    display: none;
  }

  .link-uri a {
    color: black;
    text-decoration: none;
  }

  .adresa a {
    color: black;
    text-decoration: none;
  }

  #scris {
    margin-top: 40px;
  }

  #absolut {
    position: absolute;
    display: inline-block;
    top: 100%;
    width: 20px;
    height: 20px;
    right: 0;
    overflow: visible;
  }

  #absolut::after {
    content: "Acesta este un proiect școlar!";
    position: absolute;
    margin-top: 0px;
    font-size: 10px;
    right: 0;
    border: 5px double black;
    width: 200px;
    height: 35px;
    display: inline-block;
  }

  h1 {
    page-break-after: always;
    margin-top: 0px;
    text-align: center;
    margin-left: 1cm;
  }

  .navbar {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    width: 200px;
  }

  .navbar>li {
    position: relative;
  }

  .navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #444;
    border-bottom: 1px solid #555;
  }

  #grid-pag {
    font-size: 10px;
    box-sizing: border-box;
    page-break-before: always;
    background-color: white;
    display: block;
  }

  #grid-pag div:nth-child(5) {
    page-break-before: always;
  }

  html {
    width: 210mm;
    padding: 10px;
    overflow: visible !important;
  }

  body {
    width: 210mm;
    padding: 10px;
    overflow: visible !important;
  }

  #watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60%;
    height: 10vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
  }

  #watermark::after {
    content: "Copyright Ricu \aMarius";
    color: black;
    opacity: 0.3;
    white-space: pre-line;
    text-align: center;
    font-size: 1.2em;
  }

  #end {
    page-break-before: always;
  }
}

main a[href^="http"]::before {
  content: "⮳";
  font-size: 150%;
  margin-right: 0.25em;
  color: inherit;
  transition: color 0.3s ease;
}

main a[href^="http"]:hover::before {
  color: var(--culoare-hover);
}

main a {
  position: relative;
  background-image: radial-gradient(circle, var(--culoare-hover) 0%, var(--culoare-hover) 40%, transparent 80%, transparent 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0 0;
  transition: background-size 0.4s ease;
  z-index: 0;
}

main a:visited {
  color: var(--culoare-link-vizitat);
}

main a:active {
  color: var(--culoare-activ);
}

main a:hover {
  background-size: 100% 100%;
}

/* galerie statica */
#grid-galerie {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  /* 3 coloane */
  grid-template-rows: repeat(4, 1fr);
  /* 4 rânduri */
}

#grid-galerie figure {
  margin: 0;
  /* Elimină marginile implicitale ale figurei */
  display: flex;
  flex-direction: column;
  /* Aliniază imaginea și caption-ul pe verticală */
  justify-content: center;
  /* Center aliniere pe verticală */
  text-align: center;
  /* Centrează textul din caption */
}

#grid-galerie figure img {
  max-width: 100%;
  /* Asigură-te că imaginea nu depășește dimensiunea figurei */
  height: auto;
}

#grid-galerie figcaption {
  margin-top: 0.5em;
  /* Adaugă un mic spațiu între imagine și caption */
  font-size: 1rem;
  /* Mărimea fontului pentru descriere */
  color: #555;
  /* Culoare gri pentru caption */
  text-align: center;
  /* Centrează textul din descriere */
}

#grid-galerie>picture:nth-child(1) {
  grid-area: 1/1;
  /* poziția (1,1) */
}

#grid-galerie>picture:nth-child(2) {
  grid-area: 1/2;
  /* poziția (1,2) */
}

#grid-galerie>picture:nth-child(3) {
  grid-area: 1/3;
  /* poziția (1,3) */
}

#grid-galerie>picture:nth-child(4) {
  grid-area: 2/1;
  /* poziția (2,1) */
}

#grid-galerie>picture:nth-child(5) {
  grid-area: 2/3;
  /* poziția (2,3) */
}

#grid-galerie>picture:nth-child(6) {
  grid-area: 3/1;
  /* poziția (3,1) */
}

#grid-galerie>picture:nth-child(7) {
  grid-area: 3/3;
  /* poziția (3,3) */
}

#grid-galerie>picture:nth-child(8) {
  grid-area: 4/1;
  /* poziția (4,1) */
}

#grid-galerie>picture:nth-child(9) {
  grid-area: 4/2;
  /* poziția (4,2) */
}

#grid-galerie>picture:nth-child(10) {
  grid-area: 4/3;
  /* poziția (4,3) */
}

/* Păstrează stilurile pentru tranziții și hover */
#grid-galerie picture {
  transition: transform 1.2s ease, border-width 1.2s ease;
  display: block;
  border: var(--initial-border, 0px) solid grey;
}

#grid-galerie picture:hover {
  transform: scale(1.25) rotate(-10deg);
  border-width: calc(var(--initial-border, 0px) + 4px);
}